In [1]:
import json

with open("Empleados.json", 'r') as j:
     data = json.load(j)

In [2]:
data

[{'id': '001',
  'Nombre': 'Alvaro',
  'Apellido': 'Moncada',
  'Cargo': 'Coordinador',
  'Area': 'Inteligencia Artificial'},
 {'id': 'A002',
  'Nombre': 'Nicolas',
  'Apellido': 'Gomez',
  'Cargo': 'Docente',
  'Area': 'Calculo'},
 {'id': 'A003',
  'Nombre': 'Juan Carlos',
  'Apellido': 'Correa',
  'Cargo': 'Docente',
  'Area': 'Analitica de Datos'}]

In [3]:
import pandas as pd

In [4]:
df = pd.read_json('Empleados.json')
df

     id       Nombre Apellido        Cargo                     Area
0   001       Alvaro  Moncada  Coordinador  Inteligencia Artificial
1  A002      Nicolas    Gomez      Docente                  Calculo
2  A003  Juan Carlos   Correa      Docente       Analitica de Datos